html, body {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo responsivo para móviles y tabletas */
@media (max-width: 768px) {
  .App-header {
    font-size: 1rem;
  }

  .video-list {
    grid-template-columns: 1fr; /* Para móviles, mostramos una sola columna */
  }

  .hero {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-video iframe {
    width: 100%;
    height: 200px;
  }

  .video-card {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .button {
    padding: 0.5rem;
  }

  .category-section {
    margin: 1rem 0;
    padding: 0 1rem;
  }
}

/* Estilo responsivo para tabletas */
@media (max-width: 1024px) and (min-width: 768px) {
  .hero-video iframe {
    width: 80%;
    height: 350px;
  }

  .video-list {
    grid-template-columns: repeat(2, 1fr); /* En tabletas, mostramos 2 columnas */
  }

  .video-card {
    margin: 15px;
  }
}
